# JetBrains
.idea

# Python
venv
__pycache__

# Ignore dynaconf secret files
.secrets.*

# Application generated
db
artifacts

# Application 3rd party binaries
core_api/core_api/async_tasks/decision_maker/scripts/bin/*.jar

# Distribution as wheels
dist/
*.egg-info/
